In [1]:
import pickle

with open("dates.txt", "rb") as fp:   # Unpickling
    months = pickle.load(fp)
    
def delRows(a):    
    i = len(a.index) - 1
    while i >= 53:
        a = a.drop(index=i)
        i = i - 1
    return a  

def delCols(b):    
    i = len(b.columns) - 1
    while i >= 21:
        b = b.drop(columns=i)
        i = i - 1
    return b

In [2]:
import pandas as pd
import glob

item = 'WHEAT FLOUR'
city = 'ISLAMABAD'

path = "Prices/" # use your path
all_files = glob.glob(path + "*.csv")

prices = []

for filename in all_files:
    df = pd.read_csv(filename,  skiprows=2, header=None)
    if len(df.columns) > 21:
        df = delCols(df)
    if len(df.index) > 53:
        df = delRows(df)
    df.columns = ['SR','ITEM','UNIT','ISLAMABAD','RAWALPINDI','GUJRANWALA','SIALKOT','LAHORE','FAISALABAD','SARGODHA','MULTAN','BAHAWALPUR','KARACHI','HYDERABAD','SUKKUR','LARKANA','PESHAWAR','BANNU','QUETTA','KHUZDAR','AVERAGE']
    df.index = ['WHEAT','WHEAT FLOUR','RICE BASMATI','RICE IRRI-6','BREAD PLAIN MEDIUM','BEEF','MUTTON','CHICKEN','MILK FRESH','CURD','MILK NIDO','EGG HEN','MUSTARD OIL','COOKING OIL','VEGETABLE GHEE TIN','VEGETABLE GHEE LOOSE','BANANAS','MASOOR PULSE','MOONG PULSE','MASH PULSE','GRAM PULSE','POTATOES','ONIONS','TOMATOES','SUGAR','GUR','SALT POWDER','RED CHILLIES POWDER','GARLIC','TEA YELLOW LABEL','COOKED BEEF PLATE','COOKED DAL PLATE','TEA PREPARED SADA','CIGARETTES K-2','LONG CLOTH','SHIRTING','LAWN','GEORGETTE','SANDAL GENTS BATA','CHAPPAL SPONGE BATA','SANDAL LADIES BATA','ELECTRIC CHARGES','GAS CHARGES','KEROSENE','FIREWOOD','ENERGY SAVOR 14W','WASHING SOAP','MATCH BOX','PETROL','DIESEL','LPG 11KG CYLINDER','TELEPHONE LOCAL CALL','BATH SOAP LIFEBOUY']
    prices.append(float(df[city][item]))

In [3]:
prices = pd.DataFrame(list(zip(months, prices)), 
               columns =['Month', 'Price'])

file = item + '.pickle'
with open(file, 'wb') as handle:
    pickle.dump(prices, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [4]:
prices

      Month   Price
0   2012-01  300.63
1   2012-02  340.63
2   2012-03  340.63
3   2012-04  341.72
4   2012-05  302.50
..      ...     ...
86  2019-03  393.75
87  2019-04  393.75
88  2019-05  412.38
89  2019-06  427.11
90  2019-07  435.94

[91 rows x 2 columns]